@import "../../constants";

.container-service-summary{
  margin: 10px;
  padding: 10px;
  //@include card();
  background-color: $appBackground;
  border-radius: 8px;
  height: fit-content;
}


.round-image{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}



.container-service-package-item{
  margin: 0;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.container-service-package-info{
  display: grid;
  align-items: center;
  grid-template-rows: 50px 1fr;
  text-align: start;
  column-gap: 10px;
}


.service-subcategory-list-container {
  display: grid;
  height: 120px;
  grid-template-rows: minmax(auto, 1fr);
  background: #fff;
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .service-subcategory-list-container {
    grid-template-columns: repeat(60, calc(80% - 40px));
  }
}
@media only screen and (min-width: 601px) {
  .service-subcategory-list-container {
    grid-template-columns: repeat(60, calc(60% - 40px));
  }
}

@media only screen and (min-width: 992px) {
  .service-subcategory-list-container {
    grid-template-columns: repeat(60, calc(35% - 40px));
  }
}